<html>
	<body>
		<!-- Main component for a primary marketing message or call to action -->
		<div class="panel panel-info">	
			
			<div class="panel-heading">
				Category list
			</div>
		
			<div class="panel-body">
				<table style="width:100%">
					<tr>
						<th>Category id</th>
						<th>Category Name</th>
						<th><div class="pull-right">
								<!--<a role="button" class="btn btn-success btn-clear" href="">Edit Category</a>-->
							</div></th>
					</tr>
					<!-- Boucle sur les catégories -->
					<tr *ngFor="let category of categories">
						<td><div type="text">{{category.id}}</div></td>
						<td *ngIf="!modify">{{category.label}}</td>
						<td *ngIf="modify"><input [(ngModel)]="category.label" type="text" class="form-control" placeholder='label' ></td>
						<td>
							<div class="pull-right">
								<button role="button" class="btn btn-danger btn-clear" (click)="deleteCategory(category)" [disabled]="!modify">
									<i class="fa fa-times"></i>delete 
								</button>
							</div>

						</td>
					</tr>
					<tr><td> &nbsp; </td></tr>
					<tr>
						<td></td>
						<td></td>
						<td>
							<div class="pull-right">
								<button role="button" class="btn btn-success btn-clear" (click)="saveEdit(categories)" *ngIf="modify">Save Edit</button>
								<button role="button" class="btn btn-success btn-clear" (click)="editCategories()" *ngIf="!modify">Edit Categories</button>
								<button role="button" class="btn btn-danger btn-clear" (click)="cancelEdit()" *ngIf="modify">Cancel Edit</button>
							</div>
						<td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>